// fonts 
$Light: 'latolight';
$Regular: 'latoregular';
$Medium: 'latomedium';

// Media queries
$tablet-width: 768px;
$desktop-width: 1024px;

// Colors
$purple: #563D7C;
$lightpurple: #7352A6;
$lightblue: #F2F5F7;
$babyblue: #3498DB;